body {
    /* 背景图片设置 */
    background-image: url('bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.game-button {
    display: block;
    width: 250px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ff4757; 
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
}

.game-button:hover {
    background-color: #ff6b81;
    transform: scale(1.1); 
}
